doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      h1.logo Advertising  
      .nav-items.col-xs-12.col-sm-10.col-md-10.col-lg-10.col-xl-9
        a(href='/') Home
        a(href='/catalog/advert/add' class="btn BGwhite") Dodaj ogłoszenie
        a(href='/user/login' class="btn signInBtn") 
          img(src="/images/user.png")
          span Moje konto
        #hamburger
          span#h-1
          span#h-2
          span#h-3
    .nav-expand
      a(href="/") Home
      a(href="/catalog/advert/add") Dodaj ogłoszenie
      a(href="/user/login") Moje konto
    .container-fluid
      .row        
        .col-xs-12.col-sm-12.col-md-10.col-lg-10.col-xl-8
          block content

    div
      | Icons made by 
      Vectors Market, Becris, Those Icons, Freepik and mavadee
      |  from 
      a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com
    script(src="/javascripts/index.js")