doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav  
      div(class='nav-items')
        ul
          li 
            a(href='/catalog') Home
          li 
            a(href='/catalog/categories') Categories
          li 
            a(href='/catalog/add') Create new advert
      a(href='/user/' class="signInBtn") Sign in / Sign up
    div(class='container')
      div(class='row')                
        div(class='col-sm-10')
          block content

  div
    | Icons made by 
    Vectors Market, Freepik and mavadee
    |  from 
    a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com