:root {
  --darkGreen: #24b273;
  --lightGreen: #2dea8f;
  --blue: #167a8b;
  --dark: #243d44
}

html, body {
  margin: 0;
  padding: 0;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  overflow-x: hidden;
  background: rgb(236, 236, 236);
}

a, a:hover {
  color: #000;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-weight: 600;
}

.row {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  background: #24b273;
  height: 8vh;
  z-index: 99;
  position: relative;
}

.nav-items {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-items * + a  {
  margin-left: 3rem;
}

.nav-items a {
  display: none;
}

#hamburger {
  width: 32px;
  height: 32px;
}

#hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background: #000;
  margin-top: 5px;
}



.BGwhite {
  background: #fff;
}

.signInBtn {
  background: var(--lightGreen);
}

.signInBtn img {
  height: 16px;
  margin-right: .5em;
}

.search-cont .form-inline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.search-cont {
  padding: 2rem;
}

.search-cont .form-control {
  width: 60%;
  height: 40px;
}

.search-cont .form-control{
  margin: 0 1rem ;
}

.search-cont input[type="submit"] {
  background: #2dea8f;
  height: 40px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.search-box-icon img {
  height: 20px;
}

.cat-list, .adverts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.adverts-list {
  margin: 2rem 0;
}

.cat-item a {
  display: block;
}

.cat-item, .advert-item {
  max-width: 120px;
  flex: 0 0 110px;
  display: flex;
  justify-content: center;
}

.advert-item {
  background: #dcdcdc;
  padding-bottom: .5em;
}

.advert-item + * {
  margin-left: 1rem;
}

.cat-item a, .advert-item a {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cat-item-img, .advert-item-img {
  max-width: 100%;
}

.cat-item-img img, .advert-item-img img {
  transform: scale(.5, .5);
  max-width: inherit;
}

.advert {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-row-gap: 2rem;
  padding: 2rem 0;
}

.desc, .contact {
  width: 100%;
}

.advert-img {
  display: flex;
  justify-content: center;
}

.desc h1 {
  text-align: left;
}

.desc h3:nth-of-type(1) {
  font-size: 32px;
}

.desc p {
  font-size: 18px;
}

.contact-user a {
  display: block;
  width: 35%;
  font-size: 16px;
  padding: .7em 0;
}

.contact-user .btn-primary {
  margin: .8em 0;
}

.contact-user a:nth-of-type(2) {
  outline: 2px solid #000;
  overflow: hidden;
}

.contact-user a:nth-of-type(2):hover {
  outline: 5px solid #000;
}

.contact-user .btn {
  transition: all .3s ease;
}

.nav-expand {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #239e68;
  padding: 1rem 0;
  position: absolute;
  z-index: 1;
  top: -100px;
  left: 0px;
  transition: all .5s ease-in-out;
}

.nav-active {
  transform: translateY(calc(100px + 8vh));
}

.nav-active a + * {
  margin-top: 1em;
}